[Unit]
Description=Raspberry Pi Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/scp %u@raspberrypi:%h/vaultwarden.sqlite3 %h/.vaultwarden.sqlite3
