* {
    all: unset;

    font-family: Cantarell;
    font-size: 20px;
}

#window {
    background-color: #191724;
    border-style: solid;
    border-width: 3px;
    border-color: #c4a7e7;
}

#input {
    margin: 4px;
    padding: 8px;
    background-color: #26233a;
}

#outer-box {
    padding: 4px;
}

#img {
    margin: 4px;
    margin-right: 12px;
}

#entry {
    margin: 4px;
}

#entry:unselected {
    color: #e0def4
}

#entry:selected {
    color: #c4a7e7;
}
